
<!-- tags page -->

{{ partial "header.html" . }}

<div id="main">
  <div id="content">
    <div>
      <article role="article">
        <header>
          <h1 class="entry-title">
            {{ .Data.Singular | title }}: {{ .Title }}
          </h1>
        </header>
        <span class="post">
            {{ range .Data.Pages.ByTitle }}
            <article>
              <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            </article>
          {{ end }}
        </span>
      </article>
    </div>

    {{ partial "sidebar.html" . }}
  </div>
</div>

{{ partial "footer.html" . }}
